// Colors
$primary-blue: rgb(85, 111, 226);
$primary-red: rgb(255, 70, 70);
$primary-orange: rgb(238, 82, 10);
$primary-green: rgb(7, 168, 7);
$primary-yellow: rgb(233, 233, 84);
$primary-black: #222;
$primary-white: #fff;


// Fonts
$averta: "averta", sans-serif;
$tthoves: "tthoves", sans-serif;