.btn{
    padding: 8px 10px;
    background-color: $primary-blue;
    color:$primary-white;
    font-size: 14px;
    border-radius: 5px;
}
.btn-primary{
    background-color: $primary-blue;
}
.btn-danger{
    background-color: $primary-red;
}
.btn-success{
    background-color: $primary-green;
}
.btn-warning{
    background-color: $primary-yellow;
    color: $primary-black;
}
.btn-secondary{
    background-color: $primary-black;
    color: $primary-white;
}